@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/*----------------
general
-----------------*/
body, html {
  background: hsl(36, 100%, 99%);
  color: hsl(236, 13%, 42%);
  font-size: 15px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.wrap {
  display: flex;
  margin: 90px 0;
  row-gap: 48px;
  flex-direction: column;
}
.wrap .innerWrap {
  /* display: flex; */
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
}
img {
  width: 100%;
}
.spOnly {
  display: none;
}
.pcOnly {
  display: block;
}
@media screen and (max-width: 768px) {
  .wrap { 
    margin: 27px 0;
    row-gap: 24px;
  }
  .wrap .innerWrap {
    max-width: 100%;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }
  .spOnly {
    display: block;
  }
  .pcOnly {
    display: none;
  }
}
/*----------------
common
-----------------*/
.attribution { 
  color: #000; 
  font-size: 11px; 
  text-align: center;
}
.attribution a { 
  color: hsl(228, 45%, 44%);; 
}
.dFlex {
  display: flex;
  justify-content: space-between;
}
main {
  display: grid;
  gap: 72px;
}
@media screen and (max-width: 768px) {
  .dFlex {
    flex-wrap: wrap;
  }
  main {
    gap: 65px;
}
}
/*----------------
header
-----------------*/
.header {
  position: relative;
}
.headerWrap {
  width: 100%;
  align-items: center;
}
.navList {
  width: 440px;
  margin: -8px 0 0;
  gap: 38px;
  justify-content: flex-start;
}
.navItem a {
  color: hsl(236, 13%, 42%);
  font-size: 16px;
}
.navItem a:hover {
  color: hsl(5, 85%, 63%);
}
@media screen and (max-width: 768px) {
  .header {
    position: relative;
  }
  .logo {
    width: 13%;
  }
  .navList {
    display: none;
  }
  .openBtn {
    position: absolute;
    top: 6%;
    right: 4%;
    width: 40px;
    height: 25px;
    background: url(../assets/images/icon-menu.svg) top right no-repeat;
    content: '';
    cursor: pointer;
  }
  .closeBtn {
    display: none;
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 1;
    width: 32px;
    height: 31px;
    background: url(../assets/images/icon-menu-close.svg) top right no-repeat;
    content: '';
    cursor: pointer;
  }
  .nav.show {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: hsla(240, 100%, 5%, 0.5);
    overflow-x: hidden;
  }
   .navList {
    position: fixed;
    top: 1%;
    right: -2%;
    width: 70%;
    height: 100vh;
    padding: 136px 22px;
    background-color: white;
    line-height: 47px;
  }
  .navItem a {
    font-size: 18px;
  }
}
/*----------------
main - topContent
-----------------*/
.topWrap {
  gap: 29px;
}
.hero {
  display: grid;
  width: 87%;
  gap: 26px;
}
.textWrap h2 {
  width: 300px;
  color: hsl(240, 100%, 5%);
  font-size: 56px;
  font-weight: 800;
  line-height: 1;
}
.rightText {
  display: flex;
  width: 348px;
  flex-direction: column;
  justify-content: space-between;
}
.rightText p {
  line-height: 1.5;
}
.readMore {
  width: 185px;
}
.readMore a {
  display: block;
  padding: 14px 14px;
  background: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.readMore a:hover {
  background: hsl(240, 100%, 5%);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .topWrap {
    gap: 63px;
  }
  .hero {
    width: 100%;
  }
  .textWrap {
    gap: 17px;
  }
  .textWrap h2 {
    width: 100%;
    font-size: 40px;
  }
  .rightText {
    width: 100%;
    gap: 25px;
  }
  .rightText p {
    line-height: 1.7;
  }
}
/*--------New---------*/
.new {
  width: 42%;
  background: hsl(240, 100%, 5%);
}
.newWrap {
  padding: 28px 25px 4px 26px;
}
.newWrap h2 {
  color: hsl(35, 77%, 62%);
  font-size: 40px;
}
.articleItem {
  display: grid;
  padding: 29px 0 30px;
  border-bottom: 1px solid hsl(36, 100%, 99%);
  gap: 11px;
}
.articleItem:nth-child(3) {
  border-bottom: none;
}
.articleItem a {
  color: hsl(36, 100%, 99%);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.articleItem a:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
.articleItem p {
  color: hsl(233, 8%, 79%);
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  .new {
    width: 100%;
  }
  .newWrap {
    padding: 21px 25px 4px 21px;
  }
  .newWrap h2 {
    font-size: 32px;
  }
  .articleItem {
    padding: 33px 0 30px;
    gap: 9px;
  }
  .articleItem:nth-child(3) {
    padding: 33px 0 22px;
  }
}
/*----------------
main - bottomContent
-----------------*/
.gadgetsList {
  width: 100%;
  flex-wrap: wrap;
}
.gadgetsItem {
  width: 31.43%;
  display: flex;
}
.gadgetsItem section {
  gap: 24px;
}
.gadgetsItem section img {
  width: 100px;
}
.itemWrap {
  display: grid;
  gap: 13px;
}
.itemWrap h3 {
  color: hsl(233, 8%, 79%);
  font-size: 31px;
  font-weight: 800;
  line-height: 1;
}
.itemWrap a {
  color: hsl(240, 100%, 5%);
  font-size: 18.2px;
  font-weight: 800;
}
.itemWrap a:hover {
  color: hsl(5, 85%, 63%);
}
.itemWrap p {
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  .gadgetsList {
    gap: 34px;
  }
  .gadgetsItem {
    width: 100%;
  }
  .gadgetsItem section {
    justify-content: start;
    flex-wrap: nowrap;
  }
}